<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E Academy | Student's Study Material</title>

  <!-- ==== CSS Linking ==== -->
  <link rel="stylesheet" href="student.css" type="text/css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- ==== Favicon ==== -->
  <link rel="icon" href="../Images/Avatar.png" type="image/x-icon" />
</head>

<body>
  <div id="main">
    <!-- ==== Navbar ==== -->
    <aside id="left-sidebar">
      <header>

        <div id="header-logo">
          <img src="../Images/Logo.jpg">
        </div>

        <nav id="navbar">
          <div class="nav-link"><a href="student.html"><i class='bx bxs-home'></i>Home</a></div>
          <div class="nav-link"><a href="courses.html"><i class='bx bxs-book-bookmark'></i>Courses</a></div>
          <div class="nav-link"><a href="assignment.html"><i class='bx bxs-book-content'></i>Assignment(s)</a></div>
          <div class="nav-link"><a href="studyMaterial.html" class="active"><i class='bx bxs-bookmarks'></i>Study
              Material</a></div>
        </nav>

      </header>

      <div id="user-info">
        <div id="user-icon">
          <i class='bx bxs-user-circle'></i>
        </div>
        <div id="user">
          <div id="username">
            <h5>Arman Qureshi</h5>
          </div>
          <div id="user-email">
            <h5>thearmanqureshi@gmail.com</h5>
          </div>
        </div>
      </div>
    </aside>

    <!-- ==== MAIN ==== -->
    <main>
      <section id="courses">

        <h2>Study Materials</h2>

        <div id="enrolledCourses"></div>

      </section>
    </main>

  </div>

  <!-- ==== JavaScript Linking -->
  <script src="studyMaterial.js"></script>
</body>

</html>